.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center;
    width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 8rem;
    width: 100%; 
    color: antiquewhite;
    text-shadow: -2px 2px burlywood;
    display: inline-block;
    top: 50px;
    left: 50px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
}

.nav-item {
    text-align: center;
}

img {
    width: 100%;
}